<section id="carsgrid" class="clearfix" style="padding-top: 5px;">
    <!--<input type="file" id="file1" name="file" multiple
           ng-files="getTheFiles($files)" />
    <input type="button" ng-click="uploadFiles()" value="Upload" />-->
    
    <div ng-repeat="product in products track by $index" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gap-btm">
        <a href="#/productdetail/{{product.Stock_No}}">
            <div class="thumbnail" >
                <div class="blog-image">
                    <div class="date">
                        <ul class="list-unstyled">
                            <li>
                                {{product.Currency}} {{product.Price}}
                            </li>
                            <li>
                                {{product.Year}} {{product.Month}}
                            </li>                            
                        </ul>
                    </div>

                    <div style="height:230px;overflow:hidden" >
                        <img ng-src="images/portfolio/{{product.Images.length > 0 ? product.Images[0] : 'rw1.png'}}" class="img-responsive">
                    </div>
                    <div class="text-center">
                        <h4>
                            {{product.Model}}
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>